main.css

/*body {
    line-height:1.7;
    font-size: 18px;
    color: #333;
    background-color: #FFFFFF;
    font-family: 'Assistant', sans-serif;
    }*/

.container {
    background-color:#ebebe0;
    line-height: 1;
}
   
ul.navigation-list {
    display:flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    list-style-type: none;
}  

.navigation-list li{
    text-decoration: none;
    padding: 30px 10px 30px 10px;
    top: 15px;
}  

.menu-item {
    text-decoration:none;
    color: #66b3ff;
    font-weight: bold;
    font-size: 20px;
    padding: 30px 20px;
}

.presentation-wrapper {
    position: relative;
    min-height: 500px;
    background: url("img/background_top.jpg");
    background-size: cover;
    opacity:0.95;
}

.presentation-section {
    position: absolute;
    width: 100%;
    height: 300px;
    bottom: 20px;
    margin:-15px;
    
}

.headers {
    text-align:center;
    font-weight: 400;
    color:  #FFFFFF;
    padding:15px;
}

/*.megaheader {
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 10px 0;
    font-size: 60px;
    letter-spacing: 20px;
    line-height: 80px;
    color: #e6ac00;
    font-weight: bolder;*/


.subheader1{
    font-size: 50px;
}     

.subheader2{
    font-size: 25px;
}

.button-section {
    background-color: #FFFFFF;
    padding:15px;
    width:100%;
}

.button-justify{
    text-align: center;
}

.section-headers {
    text-align:center;
    font-style: normal;
    font-weight: bold;
    letter-spacing: 0.02em;
    padding: 40px 0;
}

.rectangular{
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    border: 1px solid #66b3ff;
    background: linear-gradient(325deg, #66b3ff 14%, #00cc99 78%);
    border-radius: 15px;
    /*font-weight: bold;*/
    font-size: 18px;
    line-height: 21px;
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
    padding: 10px 12px 12px 10px;
    margin:0 10 0 10px;
}

.button-justify .rectangular {
    margin: 10px;
} 

.rectangular:hover {
    border: 1px solid #00cc99;
    background: #FFFFFF;
    color: #00cc99;
}

.profile-pic {
    height: auto;
    width: 100%;
    border-radius: 50%;
    padding: 15px;
    max-width: 250px;
}

.about-styling {
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    padding-top: 15px;
    padding-bottom: 15px;
}

.span-items-styling {
    padding: 15px;
}

.about-question {
    color:#001a00;
    font-weight: bold;
}

.about-answer{
    color: #00cc99;
    font-weight: bold;
}

.vertical-line {
    border-left: 5px dotted #00cc99;
    margin: 15px 15px 0 0;
    height: 80%;
    width: 20px;
    float: left;
}

.about-section-text{
    padding:5px;
    line-height: 1.7;
}

       
.icons-container {
    display:flex;
    justify-content: center;
}

.icon {
    color: #FFFFFF;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.skill-section {
    background: #FFFFFF;
    border-radius: 15px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.05);
    /*padding-top: 20px;*/
}

.skills-item-align {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*background: #FAFAFF;*/
    padding-top: 20px;
    padding-bottom: 15px;    
}


/*.project-align {
    padding-left: 0;
    padding-right: 0;
}*/

.project-wrapper {
    position: relative;
    width:250px;
    height: 250px;
    
}

.project-view-styling {
    position: absolute;
    padding: 10px;
    bottom: 10px;
    color: #FFFFFF;
    line-height: 1.3;
    font-size: bold;
    /*right:5px;
    left:5px;*/
}

/*.project1{
    background: url("img/project1.jpg");
    background-repeat: no-repeat; 
    text-decoration: none; 

.project8{
    background: url("img/project8.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    text-decoration: none; 
} 
*/

.contact-section {
    background: #FAFAFF;
    box-sizing: content-box;
    padding: 20xp;
}

input { 
    border-width: 1px;
    border-style: inset;
    border-color: #A0A0A0;
    /* box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07); */
    background: #FAFAFF;
    border-radius: 15px;
    padding: 5px 7px 7px 15px;
    margin: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    color: #A0A0A0;
    width: 100%; 
    color: black;
}

textarea {
    border-color: #A0A0A0;
    border-width: 1px;
    border-style: inset;
    background: #FAFAFF;
    border-radius: 15px;
    padding: 5px 7px 7px 15px;
    margin: 10px 0;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    color: #A0A0A0;
    width: 100%;
    color: black;  
}

.bottom-button-style {
    text-align: end;
}

form {
    width: auto;
}

.filled-style {
    background-color:#53c68c;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.icons-bottom {
    display: flex;
    
}


.form-styling {
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    background: #FAFAFF;
    border-radius: 15px;
}

footer {
    color: #A0A0A0;
    text-align: center;
    padding: 40px 0 20px 0;
}

i :hover {
    background-color: #A0A0A0;
}

.photo-effects {
    width: 250px;
    transition: transform 0.2s ease-in-out;
}

.photo-effects:hover {
transform: scale(0.9);
}

