/* site.css */

body {
    line-height:1.7;
    font-size: 14px;
    color: #333;
    background-color: #fff;
    font-family: 'Assistant', sans-serif;
}

.mainphoto-section {
    position: relative;
    background-image: url("img/header-background.jpg");
    background-size: cover; 
    min-height: 500px;
    height: 100vh;
    opacity:0.9;
}

.navigation-list{
    display:flex;
    justify-content: flex-end;

    }
.navigation-list li{
    display: flex;
     
    }   
.menu-item {
    text-decoration:none;
    margin: 30px;
    color: #fff;
    }
    
.presentation-section {
    width: 100%;
    height: 200px;
    position: absolute;
}

.megaheader {
    text-align:center;
    text-transform: uppercase;
    font-weight: 400;
    margin: 0 0 10px 0;
    font-size: 80px;
    letter-spacing: 20px;
    line-height: 80px;
    color: #fff;
}

.subheader{
    text-align: center;
    color: #d6d6c2;
    font-weight: 300;
    margin: 20px;
}

.subheader2{
    text-align:center;
    font-weight: 400;
    font-size: 30px;
    color: #fff;
}

.middle-section {
    background-color:#ebebe0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-headers {
    text-align:center;

}

.icon-container {
    display:flex;
}

.icon {
    color: darkgreen;
    font-size: 40px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

footer {
background-color: #31522a;
color: #fff;
display:flex;
justify-content:center;
align-items:center;
min-height: 50px;
}
